
/*Varaible styling*/
:root{
    --lightgreen: #80E584;
    --lightblue: #36A8CC;
    --lightpurple: #F9B1FF;
    --purple:#BB77EB;
    --pink: #F582FF;
    --blue: #1B31FF;
    --red: #FB0E0E;
    --black: #000000;

}

/*General styling*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

header{
    padding: 50px;
    position: fixed;
    width: 100%;
    border: 1px solid var(--lightblue);
    background-color: var(--lightblue);
}



main{
    padding: 140px 10px 10px 10px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;

}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold; 
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

/*Nav styling*/

#sidebar-menu {
    position: absolute;
    top: 40px;
}

.main-nav, #hamburger-input {
    display: none;
}

#hamburger-input:checked + .main-nav {
    display: block;
}

.main-nav {
    background-color: var(--purple);
    padding: 10px;
}

nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

nav a{
    color: var(--black);
    text-decoration: none;
}
nav a:hover{
    color: var(--red);
}

/*footer styling*/
footer{
    margin-top: auto;
    background-color: var(--lightblue);
}
.footer-content{
    font-display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 8px;
    padding: 5px 0px;
}
.footer-head{
    font-size: 12px;
    font-weight: bold;
}


/*Homepage styling*/
.banner-img{
    width:100%;
    height:249px
}

.potrait{
    width:285px;
    height: 284px;
}
.landscape{
    width:328px;
    height:216px
}

/*Explore page styling*/
.kids{
    background-color: var(--lightpurple);
    margin: 20px 0px 20px 0px;
}

.teachers{
    background-color: var(--lightgreen);
    margin: 20px 0px 20px 0px;
}

.researchers{
    background-color: var(--purple);
    margin: 20px 0px 20px 0px;
}

/*Exhibition page styling*/
.cosmology{
    width: auto;
    padding: 10px;
    margin: 0px;
    border: 2px solid var(--purple);
    background-color: var(--purple);
}   



/*Button styling*/
.Button{
    border:none;
    background-color: var(--black);
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 20px;
}

.Button:hover{
    background-color: var(--red);
    cursor: pointer;
}