
/*Varaible styling*/
:root{
    --lightgreen: #80E584;
    --lightblue: #36A8CC;
    --lightpurple: #F9B1FF;
    --purple:#BB77EB;
    --pink: #F582FF;
    --blue: #1B31FF;
    --red: #FB0E0E;
    --black: #000000;
    --arch: #D9D9D9;
    --grey: #F8F8F8;
    --thingreen: #BBEA97;
    --white: #FFFFFF;
}

/*General styling*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

header{
    padding: 50px;
    position: fixed;
    width: 100%;
    border: 1px solid var(--lightblue);
    background-color: var(--lightblue);
}



main{
    padding: 140px 10px 10px 10px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 3em;

}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold; 
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/*Nav styling*/

#logo{
    display: flex;
    flex-direction: column;
    left: 10px;
    width: 242px;
    height: 58px;
    padding-left: 0px;
    font-size: 24px;
    font-weight: bold;
}

#sidebar-menu {
    position: absolute;
    top: 40px;
    right: 10px;
}

.main-nav, #hamburger-input {
    display: none;
}

#hamburger-input:checked + .main-nav {
    display: block;
    
}

.main-nav {
    background-color: var(--thingreen);
    padding: 10px;
}

nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

nav a{
    color: var(--black);
    text-decoration: none;
}
nav a:hover{
    color: var(--red);
}




/*Homepage styling*/
.banner-img{
    width:100%;
    height:249px;
    object-fit: cover;
}

.potrait{
    width:285px;
    height: 284px;
}
.landscape{
    width:300px;
    height:216px
}

/*Explore page styling*/
.kids{
    background-color: var(--lightpurple);
    margin: 20px 0px 20px 0px;
    padding: 10px;
    border: 2px;
}

.teachers{
    background-color: var(--lightgreen);
    margin: 20px 0px 20px 0px;
    padding: 10px;
    border: 2px;
}

.researchers{
    background-color: var(--purple);
    margin: 20px 0px 20px 0px;
    padding: 10px;
    border: 2px;
}

/*Exhibition page styling*/
.cos{
    padding: 10px;
    margin: 0px;
    border: 6px solid var(--purple);
    margin: 20px 0px 20px 0px;
}
.evo{
    padding: 10px;
    margin: 0px;
    border: 6px solid var(--pink);
    margin: 20px 0px 20px 0px;
}
.bio{
    padding: 10px;
    margin: 0px;
    border: 6px solid var(--purple);
    margin: 20px 0px 20px 0px;
}  


.rob{
    padding: 10px;
    margin: 0px;
    border: 6px solid var(--blue);
    margin: 20px 0px 20px 0px;
}
.eco{
    padding: 10px;
    margin: 0px;
    border: 6px solid var(--pink);
    margin: 20px 0px 20px 0px;
}

/*Events page styling*/
.professor{
    padding: 10px;
    border: 6px solid var(--purple);
    margin: 20px 0px 20px 0px;
}

.night{
    padding: 10px;
    border: 6px solid var(--blue);
    margin: 20px 0px 20px 0px;
}

.energetica{
    padding: 10px;
    border: 6px solid var(--pink);
    margin: 20px 0px 20px 0px;
}

/*About page styling*/
.about p{
    margin: 20px 0px 20px 0px;
}

/*Vist and contact page styling*/
.visits p{
    margin: 15px 0px 15px 0px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
}
.input{
    display: flex;
    flex-direction: column;
}
textarea {
    width: 250px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid var(--arch);
    border-radius: 10px;
    background-color: var(--grey);
    font-size: 16px;
    resize: none;
    
  }
  input[type=text] {
    width: 250px;
    padding: 10px 10px;
    margin: 6px 0;
    border-radius: 10px;
    border: 2px solid var(--arch);
    box-sizing: border-box;
  }

  input[type=number] {
    width: 250px;
    padding: 10px 10px;
    margin: 6px 0;
    border-radius: 10px;
    border: 2px solid var(--arch);
    box-sizing: border-box;
  }
  input[type=submit]{
    width: 139px;
    border: none;
    background-color: var(--lightgreen);
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 20px;
  }
  .contact-box{
    padding: 10px;
    border: 6px solid var(--purple);
  }


/*Button styling*/
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 147px;
    height: 44px;
    color: var(--white);
    text-decoration: none;
    background: var(--black);
    border-radius: 20px;
    margin-right: 3vw;
    margin-top: 15px;
}

.button:hover{
    background-color: var(--red);
    cursor: pointer;
}
.explorelink {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 147px;
    height: 44px;
    color: var(--black);
    text-decoration: none;
    background: var(--lightgreen);
    border-radius: 20px;
    margin-right: 3vw;
    margin-top: 15px;
}
.explorelink:hover{
    background-color: var(--red);
    cursor: pointer;
}

/*footer styling*/
footer{
    display: flex;
    flex-direction: row;
}

footer{
    margin-top: auto;
    background-color: var(--lightblue);
    
}


.footer-head{
    font-size: 12px;
    font-weight: bold;
}

@media(min-width:900px){
    #logo{
        width: 242px;
        height: 58px;
        left: 53px;
        top: 70px;
        font-size: 24px;
        font-weight: bold;
    }
    #logo{
        width: 15%;
    }

    header{
        display: flex;
        background-color: var(--lightblue);
    }
    main{
        width: auto;
    }

    #sidebar-menu{
        position: relative;
        width: 80%;
        top: 0;
    }

    ul li{
        width: 100px;
    }

    .main-nav{
        display: flex;
        height: 100%;
        justify-content: flex-end;
        gap: 2em;
        align-items: center;
        width: 100%;
        background-color: transparent;
        list-style: none;
    }

    #hamburger-menu{
        display: none;
    }
    .discoverexplore {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
        
    .discoverh1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #090000;
        padding-left: 1vw;
    }
        
    .museum1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-left: 2vw;
    }
        
    .museum2 {
          padding-right: 2vw;
    }
        
    .museum1and2 {
          display: flex;
          justify-content: space-between;
    }
    
    .exploit-container{
        display: flex;
        flex-direction: row;
    }

    .potrait{
        width:295px;
        height: 300px;
    }
    .landscape{
        width:500px;
        height:250px
    }

    .textdesc{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 2vw;
    }
      
    .contentimg{
        padding-right: 2vw;
    }
    

    .info-containers{
        display: flex;
        justify-content: space-between;
    }

    .getinvo{
        display: flex;
        align-items: center;
    }

   



    

    

}