
/*Varaible styling*/
:root{
    --light-green: rgb#80E584;
    --Light-blue: rgb#36A8CC;
    --light-purple: rgb#F9B1FF;
    --purple: rgb#BB77EB;
    --Pink: rgb#F582FF;
    --Blue: rgb#1B31FF;
    --Red: rgb#FB0E0E;
    --Black: #000000;

}

/*General styling*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

header{
    padding: 10px;
    position: fixed;
    width: 100%;
    background-color: var(--Light-blue);
}

footer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
}

main{
    padding: 240px 10px 10px 10px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
    background-color: var(--Light-blue);
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;

}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold; 
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

/*Nav styling*/

#sidebar-menu {
    position: absolute;
    top: 180px;
}

.main-nav, #hamburger-input {
    display: none;
}

#hamburger-input:checked + .main-nav {
    display: block;
}

.main-nav {
    background-color: var(--purple);
    padding: 10px;
}

nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

nav a{
    color: var(--Black);
    text-decoration: none;
}
nav a:hover{
    color: var(--Red);
}


/*Homepage styling*/
.banner-img{
    width:100%;
    height:249px
}

.potrait{
    width:285px;
    height: 284px;
}
.landscape{
    width:328px;
    height:216px
}

/*Button styling*/
.Button{
    border:none;
    background-color: var(--Black);
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 20px;
}

.Button:hover{
    background-color: var(--Red);
    cursor: pointer;
}